@page "/"
@using GenericWebApp.Blazor.Pages.Management.Dashboard
@inject BLL.Management.DashboardAlbumService myService

<h3>Dashboard</h3>

<DashboardMusicSummary Service="@myService" />

@code {
    protected override async Task OnInitializedAsync()
    {
        
    }
}
