@page "/"
@using GenericWebApp.Blazor.Pages.Management.Dashboard
@inject BLL.Management.DashboardAlbumService myService

<div class="container">
    <h1 class="my-4 text-center">Dashboard</h1>
</div>

<DashboardMusicSummary Service="@myService" />

@code {
}
