@page "/Management/"
@using GenericWebApp.Blazor.Pages.Management.Dashboard
@inject BLL.Management.DashboardService myService

<h3>Dashboard</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        
    }
}
